
%design-page__logins{

    display: flex;
    height: 100vh;
}
%design-page__logins-left{

    width: 37rem;
    margin: 0 0;

}
%design-page__logins-left-logo{

    margin-top: 5.125rem;
    text-align: center;
    margin-bottom: 4.6875rem;
}
%design-page__logins-from{

        width: 25rem;
        height: 12.4375rem;
        font-family:'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.6875rem;

}
%design-page__logins-from__input{

    width: 100%;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    padding: 10px 270px 10px 12px;
    align-items: center;
    height: 2.75rem;
    gap: 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}
%design-page__logins-from__label1_1{
margin-bottom: 1rem;
}
%design-page__logins-from__label1_2{
margin-bottom: 0.75rem;
}
%design-page__logins-from_submit{
    background: #FF9138;
    /* down */
    padding: 10px 24px;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
    margin-top: 1.1875rem;
  text-align: center;
  display: block;
   color: #ffffff;
    width: 10.125rem;
    height: 2.5rem;
    border-color: #FFF;
}
%design-page__logins-from_a{
    text-decoration: none;
display: block;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

height: unset;
}
%design-page__left-conter{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 51px;

}
%password_potition{


}
